<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osanwen.xhsprototype">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>
        <activity android:name=".activity.LoginActivity">



        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.SearchResultActivity">



        </activity>
        <activity android:name=".activity.ChosePushTypeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.PushNoteActivity" />
        <activity android:name=".activity.PushVideoActivity" />
        <activity android:name=".activity.NoteDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>
        <activity android:name=".activity.UserDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>
        <activity android:name=".activity.CommentListActivity" />
        <activity android:name=".activity.AlbumDetailActivity" />
        <activity android:name=".activity.FollowActivity" />
        <activity android:name=".activity.FollowTagEditActivity" />
        <activity android:name=".activity.EditTextActivity" />
        <activity android:name=".activity.AvatarPreviewActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"/>
        <activity android:name=".activity.AlbumEditActivity" />
        <activity android:name=".activity.TagDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.TagIntroActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.MoveAlbumActivity"
            android:theme="@style/DialogActivity2"/>
        <activity android:name=".activity.FansActivity" />
        <activity android:name=".activity.HotTopicActivity" />
        <activity android:name=".activity.HotVideoActivity" />
        <activity android:name=".activity.ProfileEditActivity" />
        <activity android:name=".activity.NicknameEditActivity" />
        <activity android:name=".activity.IdEditActivity" />
        <activity android:name=".activity.SignEditActivity" />
        <activity android:name=".activity.BindActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ModifyPasswordActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
    </application>

</manifest>